Repository Dendy-D/battleship-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, yarn stylelint --fix

chore: test husky
  src/components/App/App.tsx
  src/components/routes/Main/Main.tsx
  src/index.tsx
Due: yarn lint --fix

feat(assets): add icons and background for Main component
  src/assets/icons/EN.svg
  src/assets/icons/ESP.svg
  src/assets/icons/soundOff.svg
  src/assets/icons/soundOn.svg
  src/assets/images/mainBackground.jpg
  src/assets/plug.txt
Due: none

feat: download couple of libraries
  package.json
  yarn.lock
Due: none

feat: install new font
  public/index.html
  public/robots.txt
Due: none

feat(components): add Main
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
  src/components/Main/index.ts
Due: yarn lint --fix, yarn stylelint --fix

feat: add couple of properties in tsconfig
  tsconfig.json
Due: none

feat: set up global styles
  src/index.css
  src/index.tsx
Due: yarn lint --fix, yarn stylelint --fix

feat(routes): add Menu plug
  src/components/App/App.tsx
  src/components/routes/Main/Main.tsx
  src/components/routes/Main/index.ts
  src/components/routes/Menu/Menu.module.scss
  src/components/routes/Menu/Menu.tsx
  src/components/routes/Menu/index.ts
Due: yarn lint --fix, yarn stylelint --fix

feat: add Button component
  src/components/ui/Button/Button.module.scss
  src/components/ui/Button/Button.tsx
  src/components/ui/Button/index.ts
  src/components/ui/plug.txt
Due: yarn lint --fix, yarn stylelint --fix

feat: add MainMenu component
  src/components/routes/MainMenu/MainMenu.module.scss
  src/components/routes/MainMenu/MainMenu.tsx
  src/components/routes/MainMenu/index.ts
  src/components/routes/Menu/Menu.module.scss
  src/components/routes/Menu/Menu.tsx
  src/components/routes/Menu/index.ts
Due: yarn lint --fix, yarn stylelint --fix

feat: install react-router-dom
  package.json
  src/index.tsx
  yarn.lock
Due: yarn lint --fix

feat: add AppRouter component
  src/components/AppRouter/AppRouter.tsx
  src/components/AppRouter/index.ts
  src/components/Main/Main.tsx
Due: yarn lint --fix

feat: add new icon
  src/assets/icons/EN.svg
  src/assets/icons/ESP.svg
  src/assets/icons/goBack.svg
Due: none

feat: edit Button component styles and add route props
  src/components/ui/Button/Button.module.scss
  src/components/ui/Button/Button.tsx
Due: yarn lint --fix, yarn stylelint --fix

feat: add reset style for tag a
  src/index.css
Due: yarn stylelint --fix

feat: add go back to main menu button
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
Due: yarn lint --fix, yarn stylelint --fix

feat: add VsPlayerMenu route
  src/components/routes/MainMenu/MainMenu.tsx
  src/components/routes/VsPlayerMenu/VsPlayerMenu.module.scss
  src/components/routes/VsPlayerMenu/VsPlayerMenu.tsx
  src/components/routes/VsPlayerMenu/index.ts
Due: yarn lint --fix, yarn stylelint --fix

Path conditions:
  yarn lint --fix: any of: *.{ts,tsx,js,jsx}
  yarn stylelint --fix: any of: *.{css,scss}
